<%- model_class = Tool -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @tool.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              tools_path, :class => 'btn btn-default'  %>

      <% if can? :update, Tool %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tool_path(@tool), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Tool %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tool_path(@tool),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @tool.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @tool.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @tool.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @tool.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attach_id) %>:</strong></dt>
  <dd>
    <%= render partial: "show_attach", object: @tool, as: :tool %>
  </dd>
</dl>

<%= render partial: "upload", object: @tool, as: :tool %>
