<%= form_for @license, :html => { :class => "form-horizontal license" } do |f| %>

  <% if @license.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@license.errors.count, "error") %> prohibited this license from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @license.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :snid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :snid, :class => 'form-control' %>
    </div>
    <%= error_span(@license[:snid]) %>
  </div>

  <div class="control-group">
    <%= f.label :sn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sn, :class => 'form-control' %>
    </div>
    <%= error_span(@license[:sn]) %>
  </div>

  <div class="control-group">
    <%= f.label :point, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :point, :class => 'form-control' %>
    </div>
    <%= error_span(@license[:point]) %>
  </div>
  
  <% if @license.id %>
  <div class="control-group">
    <%= f.label :flag, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="license[flag]" id="license_flag">
        <% License::FLAG_TYPE.each do |key,val| %>
        <option value="<%= val %>" <% if val == (@license[:flag] ? @license[:flag] : false) %>selected="selected"<% end %>><%= key %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@license[:flag]) %>
  </div>
  <% else %>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :flag, :value => "0", :class => 'form-control' %>
    </div>
    <%= error_span(@license[:flag]) %>
  </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => "1", :class => 'form-control' %>
    </div>
    <%= error_span(@license[:status]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            licenses_path, :class => 'btn btn-default' %>

<% end %>
