<%- model_class = LicenseCode -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, LicenseCode %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_license_code_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @license_codes.each do |license_code| %>
      <tr>
        <td><%= link_to license_code.code, license_code_path(license_code) %></td>
        <td><%= license_code.description %></td>
        <td><%= license_code.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <% if can? :create, LicenseCode %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      license_code_path(license_code), :class => 'btn btn-default btn-xs' %>
          <% end %>

          <% if can? :update, LicenseCode %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_license_code_path(license_code), :class => 'btn btn-default btn-xs' %>
          <% end %>
          
          <% if can? :destroy, LicenseCode %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      license_code_path(license_code),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @license_codes, as: :paginations %>
