<%- model_class = Attach -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:original_name) %></th>
      <th><%= model_class.human_attribute_name(:file_url) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:download_count) %></th>
      <th><%= model_class.human_attribute_name(:file_hash) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @attaches.each do |attach| %>
      <tr>
        <td><%= link_to attach.original_name, attach_path(attach) %></td>
        <td><%= attach.file_url %></td>
        <td><%= attach.size / 1024 + 1 %>KB</td>
        <td><%= attach.download_count %></td>
        <td><%= attach.file_hash %></td>
        <td><%= attach.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td> 
          <% if can? :destroy, Attach %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      attach_path(attach),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @attaches, as: :paginations %>
