<% if scheme.attach_id %>
  <%= scheme.attach.file_name %>
<% else %>
  <% if can? :update, Scheme %>
  <span class="btn btn-success btn-xs" data-toggle="modal" data-target="#upload_modal_<%= scheme.id %>">Upload</span>
  <% end %>
<% end %>
