<%- model_class = Upgrade -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @upgrade.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              upgrades_path, :class => 'btn btn-default'  %>

      <% if can? :update, Upgrade %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_upgrade_path(@upgrade), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Upgrade %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              upgrade_path(@upgrade),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @upgrade.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firmware_version) %>:</strong></dt>
  <dd><%= @upgrade.firmware_version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheme_version) %>:</strong></dt>
  <dd><%= @upgrade.scheme_version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tool) %>:</strong></dt>
  <dd><%= @upgrade.tool %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @upgrade.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @upgrade.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attach_id) %>:</strong></dt>
  <dd>
    <%= render partial: "show_attach", object: @upgrade, as: :upgrade %>
  </dd>
</dl>

<%= render partial: "upload", object: @upgrade, as: :upgrade %>
