<%- model_class = BurnHistory -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:operater_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:firmware_id) %></th>
      <th><%= model_class.human_attribute_name(:scheme_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @burn_histories.each do |burn_history| %>
      <tr>
        <td><%= link_to burn_history.operater.name, burn_history_path(burn_history) if burn_history.operater %></td>
        <td><%= burn_history.product.model if burn_history.product %></td>
        <td><%= burn_history.firmware.name if burn_history.firmware %></td>
        <td><%= burn_history.scheme.name if burn_history.scheme %></td>
        <td><%= burn_history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @burn_histories, as: :paginations %>
