<%- model_class = BurnHistory -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>
    <p class="pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              burn_histories_path, :class => 'btn btn-default'  %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:operater_id) %>:</strong></dt>
  <dd><%= @burn_history.operater.name if @burn_history.operater %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @burn_history.product.model if @burn_history.product %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firmware_id) %>:</strong></dt>
  <dd><%= @burn_history.firmware.name if @burn_history.firmware %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheme_id) %>:</strong></dt>
  <dd><%= @burn_history.scheme.name if @burn_history.scheme %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @burn_history.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @burn_history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></dd>
</dl>

