<%= form_for @host, :html => { :class => "form-horizontal host" } do |f| %>

  <% if @host.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @host.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ip, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:ip]) %>
  </div>
  <div class="control-group">
    <%= f.label :dbname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dbname, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:dbname]) %>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:username]) %>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:password]) %>
  </div>
  <div class="control-group">
    <%= f.label :port, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :port, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:port]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@host[:address]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => "1", :class => 'form-control' %>
    </div>
    <%= error_span(@host[:status]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            hosts_path, :class => 'btn btn-default' %>

<% end %>
