<div class="page-header">
  <h2>忘记密码？</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.email_field :username, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "发送" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
