<%= render "shared/modal_top" %>
<%= form_tag({ controller: "attaches", action: "create" }, multipart: true) do %>
        <%= file_field_tag :file_name, :class => '' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Upload", :class => 'btn btn-success' %>
<% end %>
<%= render "shared/modal_footer" %>
