<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to FMS.</h1>
    <p>Firmware Management System(FMS) is a system that manages the firmwares & schemes online. And it is a very useful system to Product Dept for raise productivity. It provides burning firmware & scheme's file to TimeLink's touch frame and activation online. In addition, it records all the operations for tracking product convenience. etc.</p>
  </div>
</div>
