<%- model_class = Syslog -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:operater_id) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @syslogs.each do |syslog| %>
      <tr>
        <td><%= link_to syslog.title, syslog_path(syslog) %></td>
        <td><%= syslog.description %></td>
        <td><%= syslog.operater.name if syslog.operater %></td>
        <td><%= syslog.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @syslogs, as: :paginations %>
