<div class="dropdown">
  <div type="button" class="dropdown-toggle" id="dropdownMene1" data-toggle="dropdown">
    <span>Check</span>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if can? :examine, ProductHistory %>
    <% if product_history.status == 0 %>
    <li role="presentation">
      <%= link_to t('.examine', :default => t("helpers.links.examine")),
        examine_product_history_path(product_history), 
        :data => { :confirm => t('.examine', :default => t("helpers.links.examine", :default => '审核通过？')) },
        :class => 'btn-link btn-xs' %>
    </li>
    <li role="presentation">
      <%= link_to t('.unexamine', :default => t("helpers.links.unexamine")), 
        unexamine_product_history_path(product_history), 
        :data => { :confirm => t('.unexamine', :default => t("helpers.links.unexamine", :default => '审核不通过？')) },
        :class => 'btn-link btn-xs' %>
    </li>
    <li role="presentation" class="divider"></li>
    <% end %>
    <% end %>

    <% if can? :read, ProductHistory %>
    <li role="presentation">
      <%= link_to t('.show', :default => t("helpers.links.show")),
        product_history_path(product_history), 
        :class => 'btn-link btn-xs' %>
    </li>
    <% end %>
  </ul>
</div>
