<%- model_class = Protocol -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @protocol.name %></dd>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              protocols_path, :class => 'btn btn-default'  %>
      <% if can? :update, Protocol %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_protocol_path(@protocol), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Protocol %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              protocol_path(@protocol),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @protocol.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @protocol.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @protocol.status %></dd>
</dl>

