<%= form_for @category, :html => { :class => "form-horizontal category" } do |f| %>

  <% if @category.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@category[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@category[:description]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => "1", :class => 'form-control' %>
    </div>
    <%= error_span(@category[:status]) %>
  </div>

  <%= render partial: "shared/modal_top", object: @category, as: :table %>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="category[category_id]" id="category_category_id">
        <option value="">请选择</option>
        <% @categories.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @category[:category_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@category[:category_id]) %>
  </div>
  <%= render "shared/modal_footer" %>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <span class="btn btn-success" data-toggle="modal" data-target="#upload_modal_<%= @category[:id] %>">Parents</span>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            categories_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
