<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:name]) %>
  </div>

  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:model]) %>
  </div>

  <div class="control-group">
    <%= f.label :place, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:place]) %>
  </div>

  <div class="control-group">
    <%= f.label :param, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :param, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:param]) %>
  </div>

  <div class="control-group">
    <%= f.label :custom, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[custom]" id="product_custom">
        <% Product::CUSTOM_TYPE.each do |key,val| %>
        <option value="<%= val %>" <% if val == (@product[:custom] ? @product[:custom] : false) %>selected="selected"<% end %>><%= key %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:custom]) %>
  </div>

  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[category_id]" id="product_category_id">
        <option>Select</option>
        <% @categories.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @product[:category_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:category_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :protocol_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[protocol_id]" id="product_protocol_id">
        <option>Select</option>
        <% @protocols.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @product[:protocol_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:protocol_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :solution_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[solution_id]" id="product_solution_id">
        <option>Select</option>
        <% @solutions.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @product[:solution_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:solution_id]) %>
  </div>


  <%= render partial: "shared/modal_top", object: @product, as: :table %>
  <div class="control-group">
    <%= f.label :firmware_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[firmware_id]" id="product_firmware_id">
        <option>Select</option>
        <% @firmwares.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @product[:firmware_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:firmware_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :scheme_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[scheme_id]" id="product_scheme_id">
        <option>Select</option>
        <% @schemes.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == @product[:scheme_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(@product[:scheme_id]) %>
  </div>
  <%= render "shared/modal_footer" %>


  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => "1", :class => 'form-control' %>
    </div>
    <%= error_span(@product[:status]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <span class="btn btn-success" data-toggle="modal" data-target="#upload_modal_<%= @product[:id] %>">Assoc</span>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            products_path, :class => 'btn btn-default' %>

<% end %>
