<%- model_class = Product -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @product.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>

      <% if can? :update, Product %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Product %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @product.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @product.place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:param) %>:</strong></dt>
  <dd><%= @product.param %></dd>
  <dt><strong><%= model_class.human_attribute_name(:custom) %>:</strong></dt>
  <dd><%= Product::CUSTOM_TYPE.invert[@product.custom] %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @product.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @product.category.name if @product.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:protocol_id) %>:</strong></dt>
  <dd><%= @product.protocol.name if @product.protocol %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solution_id) %>:</strong></dt>
  <dd><%= @product.solution.name if @product.solution %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firmware_id) %>:</strong></dt>
  <dd><%= @product.firmware.name if @product.firmware %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheme_id) %>:</strong></dt>
  <dd><%= @product.scheme.name if @product.scheme %></dd>
</dl>

