<% if firmware.attach_id %>
  <%= firmware.attach.file_name %>
<% else %>
  <% if can? :update, Firmware %>
  <span class="btn btn-success btn-xs" data-toggle="modal" data-target="#upload_modal_<%= firmware.id %>">Upload</span>
  <% end %>
<% end %>
