<%- model_class = Solution -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.titleize %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              solutions_path, :class => 'btn btn-default'  %>

      <% if can? :update, Solution  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_solution_path(@solution), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Solution  %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              solution_path(@solution),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @solution.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @solution.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @solution.status %></dd>
</dl>

