<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="page-header"></div>
      <p>Copyright &copy; 2016 <a href="http://www.timelink.cn">TimeLink, Inc.</a>  by R&D Dept</p>
    </div>
  </div>
</div>
