<!DOCTYPE html>
<html>
<head>
  <title>FirmwareManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav_bar" %>

<div class="container">
  <%= render "layouts/notice" %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>


</body>
</html>
